<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Edu 1</h1>-<h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Enim tenetur assumenda, perferendis ullam minima eveniet velit culpa iusto hic esse tempora,
                error odio commodi delectus placeat quidem at illum ipsa.</p>
        </ul>
        <ul>
            <li>
                <h1>Edu 2</h1>-<h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Enim tenetur assumenda, perferendis ullam minima eveniet velit culpa iusto hic esse tempora,
                error odio commodi delectus placeat quidem at illum ipsa.</p>
        </ul>
        <ul>
            <li>
                <h1>Edu 3</h1>-<h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Enim tenetur assumenda, perferendis ullam minima eveniet velit culpa iusto hic esse tempora,
                error odio commodi delectus placeat quidem at illum ipsa.</p>
        </ul>
    
    </div>
    </div>
